* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  #logo{
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    border-radius: 50px;
    padding: 7px;
    margin-left: 10px ;
  }

  nav {
      font-size: 20px;
      background-color: rgb(79, 79, 79);
  }

  #photo {
    height: auto;
    width: auto;
    max-height: 210px;
    max-width: 270px;
    border-radius: 50% 50%;
    margin: 15px 80px 50px ;
}

#about{
    color: blue;
    text-align: left;
}

#subtitles{
    color: blue;
}

#nirvana {
    margin: auto;
    height: auto;
    max-height: 800px;
    max-width: 700px;
    border-radius: 20px;
}